* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Times New Roman";
  text-decoration: none;
}

body {
  overflow-x: hidden;
  background-color: rgb(16, 6, 46);
}

.main-width {
  width: 1100px;
  max-width: 95%;
  margin: 0 auto;
  padding: 0px 20px;
}
.home {
  width: 97%;
  height: 60%;
}
header {
  padding: 40px 0 30px;
  display: flex;
  position: relative;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  width: 100px;
  height: 90px;
}
nav .nav-list {
  list-style: none;
}
nav .nav-list li {
  display: inline-block;
}
nav .nav-list li a {
  color: #fff;
  margin-left: 100px;
  margin-right: 0px;
  font-size: 25px;
  font-weight: 600;
}
nav .nav-list li a:hover {
  transition: 3s;
  border-radius: 50%;
  background: rgb(205, 44, 219);
}
.box {
  position: relative;
  float: right;
  display: block;
  margin-right: 100px;
  margin-top: 60px;
  width: 300px;
  height: 300px;
  background: white;
  border-radius: 50%;
  overflow: hidden;
}
.box::before {
  content: "";
  position: absolute;
  inset: -5px 90px;
  background: linear-gradient(315deg, #00ccff, #d400d4);
  transition: 0.5s;
  animation: animate 4s linear infinite;
}
.box:hover::before {
  inset: -5px 0px;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.box::after {
  content: "";
  position: absolute;
  inset: 6px;
  background: rgb(16, 6, 46);
  border-radius: 50%;
  z-index: 1;
}
.content {
  position: absolute;
  inset: 30px;
  border: 3px solid rgb(16, 6, 46);
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}
.content img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  padding-top: 100px;
  margin-left: 50px;
}
.container .home-text {
  margin-bottom: 40px;
}
.container .home-text h1 {
  color: #fff;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.2;
  margin: 20px 0px 20px;
}
span {
  color: rgb(205, 44, 219);
}
.container .home-text h3 {
  color: #fff;
  font-weight: 700;
  font-size: 25px;
}
.social-media a {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: rgb(16, 6, 46);
  cursor: pointer;
  margin-right: 20px;
  background-color: #fff;
  margin-bottom: 35px;
}
.social-media a:hover {
  transform: scale(1.1);
  background: rgb(205, 44, 219);
  transition: 0.4s;
}

.box-about {
  position: relative;
  float: left;
  display: block;
  margin-left: 50px;
  margin-right: 20px;
  margin-top: 130px;
  width: 300px;
  height: 300px;
  background: white;
  border-radius: 50%;
  overflow: hidden;
}
.content-box {
  position: absolute;
  inset: 7px;
  border: 3px solid rgb(16, 6, 46);
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}
.content-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.about {
  width: 100%;
  padding: 50px 0px;
}
.about-text h2 {
  color: #fff;
  text-align: center;
  margin-top: 100px;
}
.about-text p {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 20;
  font-size: 25px;
  line-height: 1.9;
  margin: 2rem 0 3rem;
  margin-right: 50px;
  text-align: center;
}
.project h2 {
  color: #fff;
  text-align: center;
}
.project-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, auto));
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}
.row img {
  height: auto;
  width: 100%;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}
.row {
  padding: 50px;
  border-radius: 0.5rem;
  transition: all.40s ease;
}
.row-text {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  text-align: center;
}
.row:hover {
  transform: scale(1.01) translateY(-5px);
  cursor: pointer;
}
.contact-text h2 {
  color: #fff;
  margin-bottom: 4rem;
  text-align: center;
  margin-top: 70px;
}
.contact-text h4 {
  color: rgb(205, 44, 219);
  font-size: 30px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 70px;
}
.contact-form form {
  text-align: center;
  max-width: 50rem;
  margin: 1rem auto;
  margin-bottom: 3rem;
}
.contact-form form input,
form textarea {
  border: none;
  outline: none;
  width: 100%;
  padding: 18px;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}
.contact form textarea {
  resize: none;
  height: 220px;
}
.contact form .send {
  display: inline-block;
  font-size: 17px;
  font-weight: 500;
  width: 190px;
  transition: all 0.4s ease;
  cursor: pointer;
  background-color: rgb(205, 44, 219);
  color: #fff;
}

.bottom {
  margin-top: 70px;
  padding-bottom: 40px;
}
.bottom p {
  color: #fff;
  letter-spacing: 2px;
  font-size: 15px;
  text-align: center;
}
